<header>
  <h1><%= params[:name].capitalize %></h1>
</header>
  <p><strong>Email Address:</strong> <%= @email %></p>
  <p><strong>Interests:</strong> <%= @interests.join(", ") %></p>
<footer>
  <% names = @user_list.keys %>
  <% names.each do |user| %>
  <a href="/users/<%= user %>"><%= user unless user.to_s == params[:name] %></a>
  <% end %>
</footer>
